*{
	padding: 0px;
	margin: 0px;
}
body{
	margin: 0px 100px;
}
header{
	width: 1166px;
	height: 50px;
	overflow: hidden;
}
header div{
	display: inline;
	height: 50px;
	font-family: "华文楷体";
	font-size: 20px;
	line-height: 50px;
	position: absolute;
	right: 100px;
}
header #sign{
	display: inline;
}
header #user{
	display: none;
}

