dd{
    margin:0;
    padding:0;
}
p{
    line-height:160%;
}
.left {
    float: left;
}

.tab-main .second-content {

    width: 400px;
    margin:2% auto auto 10%;

}

.clearfix {
    clear: both;
}
.movie-info{
    width:200px;
    float:left;
    margin: 10px 0 10px 0;
}
.movie-info dt{
    float:left;
    font-weight:bold;
    color: #724A8E;
    margin-bottom: 5px;
    margin-top: 4px;
    clear:both;
}
.movie-info dd{
    float:left;
    margin-top: 4px;
}